<div class="matrix-interface">
  <div class="line">
    {% for pixel in pixels[0:8] %}
    <div
      class="cel blank"
      arial-label="{{pixel.coluna}}_{{pixel.linha}}"
      id="{{pixel.id}}"
    ></div>
    {% endfor %}
  </div>
  <div class="line">
    {% for pixel in pixels[8:16] %}
    <div
      class="cel blank"
      arial-label="{{pixel.coluna}}_{{pixel.linha}}"
      id="{{pixel.id}}"
    ></div>
    {% endfor %}
  </div>
  <div class="line">
    {% for pixel in pixels[16:24] %}
    <div
      class="cel blank"
      arial-label="{{pixel.coluna}}_{{pixel.linha}}"
      id="{{pixel.id}}"
    ></div>
    {% endfor %}
  </div>
  <div class="line">
    {% for pixel in pixels[24:32] %}
    <div
      class="cel blank"
      arial-label="{{pixel.coluna}}_{{pixel.linha}}"
      id="{{pixel.id}}"
    ></div>
    {% endfor %}
  </div>
  <div class="line">
    {% for pixel in pixels[32:40] %}
    <div
      class="cel blank"
      arial-label="{{pixel.coluna}}_{{pixel.linha}}"
      id="{{pixel.id}}"
    ></div>
    {% endfor %}
  </div>
  <div class="line">
    {% for pixel in pixels[48:56] %}
    <div
      class="cel blank"
      arial-label="{{pixel.coluna}}_{{pixel.linha}}"
      id="{{pixel.id}}"
    ></div>
    {% endfor %}
  </div>
  <div class="line">
    {% for pixel in pixels[56:64] %}
    <div
      class="cel blank"
      arial-label="{{pixel.coluna}}_{{pixel.linha}}"
      id="{{pixel.id}}"
    ></div>
    {% endfor %}
  </div>
</div>
